<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   basicInfo.plist
   SporNetApp

   Created by 浦明晖 on 8/9/16.
   Copyright (c) 2016 Peng Wang. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
