<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Northeastern University</key>
	<array>
		<string>Marino Center</string>
		<string>Cabot Center</string>
		<string>Badger &amp; Rosen</string>
		<string>NU Open Skate</string>
		<string>Around Campus</string>
	</array>
	<key>Harvard University</key>
	<array>
		<string>Around Campus</string>
	</array>
	<key>Umass Boston</key>
	<array>
		<string>Clark Athletic Center</string>
		<string>Beacon Fitness Center</string>
		<string>Around Campus</string>
	</array>
	<key>Umass Lowell </key>
	<array>
		<string>The Riverview Fitness Center</string>
		<string>Around Campus</string>
	</array>
	<key>Suffork University</key>
	<array>
		<string>Regan Gymnasium</string>
		<string>Residence Hall</string>
		<string>Around Campus</string>
	</array>
	<key>Tufts University</key>
	<array>
		<string>Around Campus</string>
	</array>
	<key>MIT </key>
	<array>
		<string>Around Campus</string>
	</array>
	<key>Boston College</key>
	<array>
		<string>Around Campus</string>
	</array>
	<key>Boston University</key>
	<array>
		<string>Boston University Fitness Center </string>
		<string>Around Campus</string>
	</array>
	<key>Umass Amherst</key>
	<dict>
		<key>New item</key>
		<string>Around Campus</string>
	</dict>
</dict>
</plist>
